assets
backup
config
defaultconfigs
journeymap
libraries
logs
patchouli_books
runtime
saves
schematics
scripts
server-resource-packs
versions
mods/zmedievalmusic-1.3.jar

launcher_profiles.json
options.txt
optionsof.txt
patchouli_data.json
servers.dat
servers.dat_old
TempOptifineStore-1.0.json
